name: Kam Exec
permissions:
  contents: write
  actions: read
on:
  workflow_dispatch:
    inputs:
      kam-command:
        description: Command to run
        required: false
        type: string
        default: kam version patch && kam build -s


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup kam
      uses: MemDeco-WG/setup-kam@latest
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        enable-cache: 'true'
        private-key: ${{ secrets.KAM_PRIVATE_KEY }}

    - name: Verify kam installation
      run: kam --version
    - name: Run kam command
      shell: bash
      run: |
        kam build --help
        rm -rf dist
        chmod +x hooks/**/*
        chmod +x src/**/*
        echo "Executing: ${{ github.event.inputs.kam-command }}"
        ${{ github.event.inputs.kam-command }}
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Auto-commit changes
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: |
          chore: apply config - Template: ${{ github.event.inputs.template-url || 'No template' }} - Command: ${{ github.event.inputs.init-command || github.event.inputs.kam-command }}
        file_pattern: |
          **/*
          !.github/workflows/exec.yml
          !.github/workflows/init.yml
        push_options: --force-with-lease
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
